<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your booking information, <%= @passenger.name %></h1>
    <p>
      <%= @booking.flight.departure_airport.name%>
    </p>
    <p>
      
    </p>
    <p>Thanks for booking with Odin-Chariot!</p>
  </body>
</html>
