<h1>Your Chariot awaits!</h1>

<h3>Flight Information</h3>

<p>Departing Airport: <%= @flight.departure_airport.name%></p>
<p>Arrival Airport: <%= @flight.arrival_airport.name%></p>
<p>Flight Date: <%= @flight.takeoff_date_formatted%></p>
<p>Takeoff: <%= @flight.takeoff_time_formatted%></p>
