/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
    height: 100%;
    
}

html {
    display: table;
    margin: auto;
}

body {
    max-width: 1280px;
    display: table-cell;
    
}

ul{
    list-style: none;
}
 .results {
    margin: 1em;
 }

.flight {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    
}

.search-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    
}

.flight-search {
    margin-left: .5em;
}

.flight-info {
    display: flex;
    justify-content: start;
    text-align: left;
    margin-left: .5em;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
}
.flight-info-section {
    margin: .5em;
}

.flight-info-section p {
    text-decoration: underline;
}

.passenger-field {
    margin-bottom: .5em;
    
}

.submit-btn {
    margin-bottom: 1em;
}